* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #1e2d3c;
    height: 100vh;
    width: 100vw;
}

.colonna {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 5px;
}

.cartolina {
    position: relative;
    height: 190px;
    margin: 10px 10px 10px;
}

.cartolina:last-child {
    margin: 10px;
}

.cartolina img {
    height: 190px;
    border-radius: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.cartolina p {
    font-family: 'Roboto', serif;
    color: #ededed;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    font-weight: 600;
}

.selected {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
}

.selected img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    transform: translate(-50%,-50%);
    object-fit: contain;
    display: none;
}

.selected:hover img{
    cursor: pointer;
    display: block;
}

.selected:hover {
    background-color: #1b3c59;
}
